h1 {
    font-family: Cascadia Code;
    color: #4b0082;
    font-size: 45px;
    text-align: center;
}

h2 {
    font-family: Cascadia Code;
    color: blueviolet;
    font-size: 30px;
}

body {
    background-color: aliceblue;
}

p {
    font-family: Cascadia Code;
    color: #FF0000;
    font-size: 20px;
}

a {
    font-family: Cascadia Code;
    color: #00FF00;
    font-size: 20px;
}

li {
    font-family: Cascadia Code;
    color: #800000;
    font-size: 20px;
}